/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */


@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Hind+Madurai:wght@300&display=swap');

.App {
  text-align: center;
  padding: 2%;
}

/* desktops */

@media only screen and (min-device-width: 1100px) {

	.header {
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

	.header img {
	height: 4%;
	width: 4%;
	display: none;
	}

	.title {
	font-family: 'Philosopher', sans-serif;
	width: 50%;
	font-size: 400%;
	color: black;
	display: flex;
	justify-content: center;
	margin-right: 20%;
	}

	.navbar {
		display: flex;
		width: 50%;
		justify-content: space-evenly;
		margin-top: 1.5%;
		align-items: center;
	}

	.navbar h2 {
		color: white;
		font-family: 'Philosopher', sans-serif;
		font-weight: bold;
		font-size: 150%;
	}

	.home {
		font-family: 'Hind Madurai', sans-serif;
		color: black;
		background-color: white;
		height: 40rem;
		margin-left: auto;
		margin-right: auto;
		border: solid gray 0.4rem;
	}

	.profile {
		height: 50%;
		display: flex;
		padding: 1%;
	}

	.photo {
		width: auto;
		height: 120%;
		margin-left: 8%;
	}

	.blurb {
		background: rgb(211, 211, 211, 0.8);
		width: 35%;
		height: max-content;
		position: absolute;
		z-index: 3;
		margin-top: 17.5%;
		padding: 1%;
	}

}

/* ipads */
@media only screen and (min-device-width: 600px) and (max-device-width: 1050px) {
	.header {
		padding: 2rem;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		display: flex;
		flex-direction: column;
		width: auto;
		}
	
		.header img {
		height: 5%;
		width: 5%;
		display: none;
		}
	
		.title {
		font-family: 'Philosopher', sans-serif;
		font-size: 3rem;
		color: black;
		width: 50%;
		display: flex;
		justify-content: center;
		}
	
		.navbar {
			display: flex;
			width: 50%;
			justify-content: space-evenly;
			margin-top: 2%;
		}
	
		.navbar h2 {
			color: white;
			font-family: 'Philosopher', sans-serif;
			font-weight: bold;
			font-size: 120%;
		}
	
		.home {
			color: black;
			background-color: white;
			height: max-content;
			margin-left: auto;
			margin-right: auto;
			border: solid gray 0.3rem;
			font-family: 'Hind Madurai', sans-serif;
		}

		.profile {
			padding: 1%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	
		.photo {
			width: 50%;
			height: auto;
			border-radius: 2rem;
		}
	
		.blurb {
			/* background: rgb(211, 211, 211, 0.8); */
			height: max-content;
			font-size: 1rem;
			margin-top: 1%;
		}
}



/* smartphones */
@media only screen and (max-device-width: 500px) {
	.header {
		padding: 2rem;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		}
	
		.header img {
		height: 5%;
		width: 5%;
		display: none;
		}
	
		.title {
		font-family: 'Philosopher', sans-serif;
		font-size: 250%;
		color: black;
		width: 100%;
		display: flex;
		justify-content: center;
		}
	
		.navbar {
			display: flex;
			width: 100%;
			justify-content: space-evenly;
			margin-top: 2%;
		}
	
		.navbar h2 {
			color: white;
			font-family: 'Philosopher', sans-serif;
			font-weight: bold;
			font-size: 90%;
		}

		/* .container {
			position: relative;
			background-color: gray;
			height: 10rem;
			width: 95%;
			margin-left: auto;
			margin-right: auto;
			padding: 0.5%;
			align-self: center;
		} */
	
		.home {
			color: black;
			background-color: white;
			height: max-content;
			margin-left: auto;
			margin-right: auto;
			border: solid gray 0.2rem;
			font-family: 'Hind Madurai', sans-serif;
		}

		.profile {
			padding: 1%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	
		.photo {
			width: 50%;
			height: auto;
			border-radius: 2rem;
		}
	
		.blurb {
			/* background: rgb(211, 211, 211, 0.8); */
			height: max-content;
			font-size: 0.85rem;
			margin-top: 1%;
		}
}
